body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.top {
   background: #1ec01e;
   border: 1px solid #08080825;
   float: top;
   height: 40px;
}

.bottom {
   float: bottom;
   height: 80px;
}

.day {
   float: left;
   width: 160px;
   border: 1px solid #08080825;
}

.Card {
  width: 190px;
}

.left {
   float: left;
}